html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.header {
  margin-top: 20px;
  margin-bottom: 40px;
}

.footer {
  background-color: #454444;
  color: #ffffff;
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:20px;
}

label[for=id_user-email]
{
    margin-top: 20px;
    display: block;
}

label[for=id_user-password1]
{
    margin-top: 20px;
    display: block;
}

label[for=id_user-password2]
{
    margin-top: 20px;
    display: block;
}

.errorlist
{
    padding:0px;
}

.errorlist li
{
    display: inline;
    list-style-type: none;
    margin-left: 0px;
    color: red;
}